@import "reset.scss"; 


*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Outfit-Regular';
    src: url(../fonts/Outfit-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'CormorantGaramond-Regular';
    src: url(../fonts/CormorantGaramond-Regular.ttf);
    font-display: swap;
} 

$font-outfit: 'Outfit-Regular';
$font-cormoran:'CormorantGaramond-Regular';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #161D27;
}

a { 
    text-decoration: none;
    color: inherit;
    outline: none;
}
a:visited,
a:hover, 
a:link  {
    outline: none;
}
button, input {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1px;
}
button {
    font-family: $font-outfit;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    line-height: 35px;
}
img { 
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6, a, p, button {
    letter-spacing: 0.4px;
}
$white-color: #FFFFFF;
$gold_color:  #D1B06B;
$gray-color: #1F2732;
$light-gray: #D7D7D7;

.txt-df {
    font-size: 20px;
    line-height: 32px;
    font-family: $font-outfit;
    color: $light-gray;
}
h1 {
    font-size: 65px;
    line-height: 120%;
    font-family: $font-cormoran;
    color: $white-color;
}
h2 {
    font-family: $font-cormoran;
    font-size: 50px;
    line-height: 120%;
}
h3 {
    color: $white-color;
    font-family: $font-cormoran;
    font-size: 45px;
    line-height: 125%;
}
h4 {
    font-family: $font-cormoran;
    color: $white-color;
    font-size: 35px;
    line-height: 160%;
}
h5 {
    font-family: $font-cormoran;
    font-size: 30px;
    line-height: 130%;
    color: $white-color;
}




header {
    background-image: url(../images/Header/header_background.png);
    background-size: cover;
    .container {
        background-color: rgba(31, 39, 50, 0.81);
        padding: 40px 40px 0 40px;
    }
}
.header_nav {
    margin-left: 20px;
    margin-right: 20px;
}
.header_body {
    margin: 0 20px 0 20px;
    max-width: 100%;
    font-family: $font-outfit;
}
.header_title {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 9px;
    button {
        height: 85px;
        width: 350px;
        background: rgba(255, 255, 255, 0.1);
        margin-bottom: 30px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 0px;
        padding: 24px 71px 25px;
        color: $white-color;
    }
    button:hover {
        transition: all 0.2s linear;
        outline: 5px solid rgba(255, 255, 255, 0.1);
        outline-offset: 5px;
    }
}
.header_logo {
    margin-bottom: 36px;
    max-height: 79px;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    border-top: 1px solid #5d6674;
    border-bottom: 1px solid #5d6674;
}
.header_menu {
    .header_list {
        display: flex;
        a {
            color: $white-color;
            margin-top: 19px;
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 35px;
        }
        a:not(:last-child) {
            margin-right: 48px;
        }
        .header_link-home-page {
            color: $gold_color;
        }
        a:hover {
            text-decoration: underline;
        }
        a:active {
            text-decoration: underline;
        }
    }
}
.contacts {
    display: flex;
    a:active,
    a:hover {
        p {
            text-decoration: underline; 
        }
        
    }
}
.contact_item {
    display: flex;
    align-items: center;
    margin-left: 50px;
    .info_contact {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
    }
    .info_contact p:first-child {
        color: $gold_color;
        font-size: 18px;
        line-height: 29px;
    }
    .info_contact p:last-child {
        color: $white-color;
        font-size: 22px;
        line-height: 26px;
    }
}
.header_info {
    margin: 20px 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header_info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 70px ;
    margin-bottom: 70px;
    .header_info_svg {
        padding: 40px 0 14px ;
    }
    .main_header {
        max-width: 669px;
        margin-bottom: 21px;
    }
    .header_info-description {
        max-width: 655px;
        font-size: 22px;
        line-height: 40px;
        color: $gold_color;
        font-family: $font-outfit;
        button {
            color: $gray-color;
            font-size: 22px;
            line-height: 35px;
            font-family: $font-outfit;
            padding: 25px 71px;
            background-color: $gold_color;
            margin-top: 28px;
        }
        button:hover {
            transition: all 0.2s linear;
            outline: 5px solid $gold_color;
            outline-offset: 5px;
        }
    }
}

.header_main_image {
    width: 100%;
    height: 100%;
}




.accost {
    max-width: 1360px;
    margin: 140px auto 120px;
}
.accost_body {
    display: flex;
}
.accost_body-picture-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
    .accost_picture {
        width: 467px;
        height: 293px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.accost_body-info-block {
    display: flex;
    flex-direction: column;
    .header_accost_block {
        text-transform: capitalize;
        margin-bottom: 16px;
        max-width: 549px;
    }
    .svg_accost_block {
        margin-bottom: 45px;
    }
    .description_accost_block {
        margin-bottom: 35px;
    }
    .accost_user {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        .accost_user-photo {
            margin-right: 20px;
        }
        .accost_user-name {
            color: $white-color;
            font-family: $font-cormoran;
            font-size: 40px;
            line-height: 52px;
        }
    }
    .accost_statistic {
        display: flex;
        .accost_statistic-block {
            display: flex;
            align-items: center;
            .accost_statistic-name {
                display: flex;
                flex-direction: column;
                margin-right:  50px;
                font-family: $font-outfit;
                font-size: 22px;
                line-height: 29px;
            }
        }
        .case_success {
            background-color: #3B434E;
            margin-right: 30px;
            color: $light-gray;
            .accost_statistic-svg {
                margin: 35px 20px 35px 50px;
            }
        }
        .years_experience {
            background-color: #D1B06B;
            color: $gray-color;
            .accost_statistic-counter {
                padding: 9px 15px 11px;
                margin: 34px 20px 33px 50px;
                border-radius: 5px;
                background-color:#161D27;
                color: $white-color;
                font-family: $font-outfit;
                font-size: 30px;
                line-height: 39px;
            }
        }
    }
}




.explore {
    max-width: 1440px;
    margin: 110px auto 0px;
    padding: 120px 20px 110px;
}
.explore_container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
.exlpore_header {
    max-width: 1340px;
    margin-left: 20px;  
    margin-right: 20px;
    display: flex; 
    justify-content: space-between;
}
.explore_header-left-block {
    display: flex;
    flex-direction: column;
    .explore_main-header {
        text-transform: capitalize;
        max-width: 356px;
        margin-bottom: 11px;
    }
}
.explore_header-right-block {
    max-width: 660px;
}
.explore_body {
    margin-top: 30px;
    max-width: 1380px;
}
.case_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.case_item {
    background-color:$gray-color;
    width: 31%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 70px 50px;
    .case_item-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 27px;
        border-bottom: 1px solid #4E555F;
        .case_item-header {
            margin-bottom: 8px;
        }
        .case_item-description {
            max-width: 330px;
        }
    }
    .case_item-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 37px;
        a {
            display: block;
        }
        .case_item-svg {
            padding-top: 13px;
            padding-bottom: 13px;
        }
        .case_item-link {
            background-color: #161D27;
            padding: 13px 42px;
            height: 58px;
        }
        .case_item-link:hover {
            background-color: $gold_color;
            color: $gray-color;
            font-weight: 600;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
.case_item:hover {
    background-color: #39485c;
    .case_item-description{
        color: $white-color;
    }
}




.causes, .partners {
    background-color: $white-color;
    max-width: 1440px;
    margin: 0px auto 0px;
}

.causes_container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 115px 20px 0px 20px;
    border-bottom: 1px solid $light-gray;
}
.causes_header {
    max-width: 1360px;
    margin: 10px 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .causes_main-header {
        text-transform: capitalize;
        text-align: center;
        color: #161D27;
        max-width: 402px;
        margin-top: 124px;
        margin-bottom: 11px;
    }
    .causes_main-header-svg {
        margin-bottom: 40px;
    }
    .causes_header-description {
        max-width: 635px;
        font-family: $font-outfit;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.4px;
        color: #909090;
        text-align: center;

    }
}
.causes_body {
    max-width: 1360px;
    margin-left: 20px;
    margin-right: 20px;
}
.causes_body-statistic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    text-transform: capitalize;
}
.causes_body-statistic-block1,
.causes_body-statistic-block2 {
    width: 433px;
    height: 180px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    .statistic_square {
        border: 2px solid #D1B06B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 118px;
        .statistic_square-counter {
            font-family: $font-outfit;
            color: #1F2732;
            font-size: 30px;
            line-height: 39px;
        }
    }
    .statistic_item {
        display: flex;
        flex-direction: column;
        align-items: start;
        .statistic_item-header {
            font-family: $font-cormoran;
            font-size: 30px;
            line-height: 42px;
            color: #1F2732;
        }
        .statistic_item-description {
            font-family: $font-outfit;
            font-size: 20px;
            line-height: 32px;
            color: #909090;
        }
    }
}
.causes_body-statistic-block1 {
    .statistic_item {
        .statistic_item-header {
            margin-right: 45px;
        }
        .statistic_item-description {
            max-width: 176px;
        }
    }
    .statistic_square-counter {
        margin-left: 25px;
        margin-right: 24px;
    }
}

.causes_body-statistic-block3 {
    width: 433px;
    height: 180px; 
    background-image: url(../images/Causes/causes_justice.png);
    background-size: contain;
    background-repeat: no-repeat;
    .statistic_item {
        font-family: $font-outfit;
        color: #FFFFFF;
        .statistic_item-counter {
            margin: 40px 0px 10px 50px;
            font-size: 30px;
            line-height: 39px;
        }
        .statistic_item-description {
            margin-left: 50px;
            font-size: 20px;
            line-height: 26px;
        }
    }
}


.partners {
    max-width: 1440px;
    max-height: 446px;
    padding: 80px 20px 130px;
}
.partners_container {
    max-width: 1400px;
    max-height: 236px;
    .partners_header {
        max-width: 1360px;
        max-height: 80px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        .partners_main-header {
            color: #161D27;
            text-transform: capitalize;
            margin: 10px 40px;
        }
    }
    .partners_body {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 60px;
        max-width: 1360px;
        max-height: 220px;
        .swiper-container-1 {
            width: 100%;
            overflow: hidden;
            .swiper-wrapper {
                display: flex;
                align-items: center;
                .swiper-slide {
                    flex-shrink: 0;
                    width: auto; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .partners_body-item {
                        display: flex;
                        flex-direction: column; 
                        justify-content: flex-end; 
                        align-items: center; 
                    }
                }
            }
        }
    }
}



.history {
    background-image: url(../images/History/history_background.png);
    background-size: cover;
    max-width: 1440px;
    margin: auto;
    padding: 140px 40px;
}
.history_container {
    max-width: 1360px;
    max-height: 1050px;
    padding: 80px 60px 70px;
    background-color: $gray-color;
    opacity: 0.85;
}
.history_body {
    min-width: 1240px;
    max-height: 900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.history_body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .history_body-left-top {
        max-width: 418px;
        max-height: 172px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        .history_body-left-top-header {
            text-align: left;
        }
        .history_body-left-top-svg {
            margin-top: 11px;
            margin-right: 32px;
        }
    }
    .history_body-left-bottom {
        max-width: 418px;
        max-height: 633px;
        text-align: left;
        .left-bottom-items {
            width: 100%;
            max-height: 132px;
            margin-bottom: 35px;
            .left-bottom-items-header {
                font-family: $font-outfit;
                font-size: 20px;
                line-height: 26px;
                color: $gold_color;
                margin-bottom: 13px;
                max-width: 384px;
                max-height: 26px;
            }
        }
    }
}
.history_body-middle {
    background-image: url(../images/History/history_justice.png);
    background-size: cover;
    margin-right: 105px;
    margin-left: 70px;
    width: 264px;
}
.history_body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .history_body-right-top {
        max-width: 383px;
        max-height: 372px;
        display: flex;
        flex-direction: column;
        .history_body-right-top-header {
            text-align: left;
        }
        .history_body-right-top-svg {
            margin: 11px 288px 43px 0px;
        }
        .history_body-right-top-description {
            max-width: 382px;
        }
    }
    .history_body-right-bottom {
        .right-bottom-statistic {
            max-width: 383px;
            max-height: 308px;
            display: flex;
            flex-direction: column;
            .right-bottom-statistic-item {
                display: flex;
                flex-direction: column;
                .statistic-item-description {
                    display: flex;
                    justify-content: space-between;
                    font-family: $font-outfit;
                    font-size: 20px;
                    line-height: 32px;
                    color: $white-color;
                    text-transform: capitalize;
                }
                .statistic-item-progress {
                    progress {
                        height: 5px;
                        width: 100%;
                    }
                    progress::-webkit-progress-bar {
                        background-color: $white-color; 
                    }
                    progress::-webkit-progress-value {
                        background-color: $gold_color; 
                    }
                    progress::-moz-progress-bar {
                        background-color: $gold_color; 
                    }
                }
            }
            .right-bottom-statistic-item:not(:last-child) {
                margin-bottom: 38px;
            }
        } 
    } 
    .right-bottom-button {
        button {
            color: $gray-color;
            padding: 25px 71px;
            background-color: $gold_color;
        }
        button:hover {
            transition: all 0.2s linear;
            outline: 5px solid $gold_color;
            outline-offset: 5px;
        }
    }
}


.feedback {
    max-width: 1360px;
    max-height: 768px;
    margin: 125px auto 140px;
    display: flex;
    flex-direction: column;
}
.feedback_header {
    max-width: 1360px;
    min-height: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    .feedback_header-main {
        margin-bottom: 11px;
    }
}
.feedback_body {
    max-width: 1360px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    .swiper-wrapper-container {
        display: flex;
        align-items: center;
        position: relative;
        width: 1360px;
        .swiper-container-2 {
            flex: 1; 
            position: relative;
            width: 1360px;
            height: 600px;
            overflow: hidden;
            .swiper-wrapper {
                display: flex;
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 calc((100% - 30px) / 4);
                    max-height: 600px;
                    .feedback_body-item {
                        max-width: 332.5px;
                        max-height: 600px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding-top: 40px;
                        padding-left: 10px;
                        padding-right: 10px;
                        .person_card {
                           display: flex;
                           margin-bottom: 20px;
                           .personal_card-photo {
                            width: 84px;
                            height: 84px;
                           }
                            .personal_card-data {
                                display: flex;
                                flex-direction: column;
                                margin-top: 6.5px;
                                margin-bottom: 6.5px;
                                padding-left: 22px;
                                .personal_card-data-name {
                                    font-family: $font-cormoran;
                                    font-size: 30px;
                                    line-height: 39px;
                                    color: $white-color;
                                }
                            }
                        }
                        .review_textarea {
                            background-color: #2e3947;
                            max-width: 313px;
                            display: flex;
                            flex-direction: column;
                            border-radius: 1px;
                            .review_textarea-svg{
                                margin-bottom: 33px;
                            }
                        }
                    }
                    .feedback_body-item:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
            .swiper-slide:nth-child(odd) .feedback_body-item {
                flex-direction: column-reverse; 
                .review_textarea {
                    margin-bottom: 20px;
                    border-bottom-left-radius: 40px 40px;
                    padding: 51px 51px 57px 45px;
                }
            }
            .swiper-slide:nth-child(even) .feedback_body-item {
                .review_textarea {
                    border-top-left-radius: 40px 40px;
                    padding: 76px 47px 57px 45px;
                }
            }
        }
        .swiper-button-prev-2, 
        .swiper-button-next-2 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            color:  #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 10;
        }
          
        .swiper-button-prev-2 {
            left: -30px;
        }
          
        .swiper-button-next-2 {
            right: -30px; 
        }
    }
    .swiper-pagination-2 {
        position: relative;
        bottom: -30px; 
        width: 100%;
        text-align: center;
        z-index: 10; 
    }
    .swiper-pagination-bullet {
        width: 12px; 
        height: 12px;
        background-color: $gold_color; 
        border-radius: 50%; 
        opacity: 0.6; 
        margin: 0 4px; 
        display: inline-block; 
    }
    .swiper-pagination-bullet-active {
        background-color: $white-color;
        opacity: 1; 
    }
}




.team {
    max-width: 1440px;
    max-height: 1152px;
    background-color: $white-color;
    margin: auto;
    padding: 115px 20px 120px;
}
.team_container {
    max-width: 1400px;
    max-height: 917px;
    display: flex;
    flex-direction: column;
    padding-top: 9px;
}
.team_header {
    margin: 10px 20px 70px;
    max-width: 1360px;
    max-height: 162px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .team-header-main {
        max-width: 692px;
        color: #161d27;
        text-align: center;
        margin-bottom: 11px;
    }
}
.team_body {
    max-width: 1360px;
    max-height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    .swiper-wrapper-container {
        display: flex;
        align-items: center;
        position: relative;
        width: 1360px;
        .swiper-container-3 {
            flex: 1; 
            position: relative;
            width: 1360px;
            height: 675px;
            overflow: hidden;
            .swiper-wrapper {
                display: flex;
                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 0 calc((100% - 60px) / 3);
                    max-height: 675px;
                    .team_body-presonal_card {
                        max-width: 434px;
                        max-height: 675px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .personal_photo {
                            margin-bottom: 20px;
                            max-height: 574px;
                            position: relative;
                            .personal_photo > img {
                                width: 100%;
                                height: auto;
                                display: block;
                            }
                            .team_body-overlay-block {
                                display: none;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 217px;
                                height: 66px;
                                .team_body-social-links {
                                    max-width: 217px;
                                    max-height: 66px;
                                    display: flex;
                                    padding-top: 25px;
                                    padding-bottom: 20px;
                                    background-color: $white-color;
                                    .social_link:first-child {
                                        margin-left: 36px;
                                    }
                                    .social_link:not(:last-child) {
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                        .personal_photo:hover {
                            .team_body-overlay-block {
                                display: block;
                            }
                        }
                        .personal_data {
                            max-height: 71px;
                            max-width: 433px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .presonal_data-name {
                                font-family: $font-cormoran;
                                font-size: 30px;
                                line-height: 39px;
                                color: #161d27;
                            }
                            .presonal_data-specialization {
                                font-family: $font-outfit;
                                font-size: 20px;
                                line-height: 32px;
                                color: $gold_color;
                            }
                        }
                    }
                }
            }
        }
        .swiper-button-prev-3, 
        .swiper-button-next-3 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            color:  #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 10;
        }
          
        .swiper-button-prev-3 {
            left: -30px;
        }
          
        .swiper-button-next-3 {
            right: -30px; 
        }
    }
    .swiper-pagination-3 {
        position: relative;
        bottom: -30px; 
        width: 100%;
        text-align: center;
        z-index: 10; 
    }
    .swiper-pagination-bullet {
        width: 12px; 
        height: 12px;
        background-color: #D1B06B; 
        border-radius: 50%; 
        opacity: 0.6; 
        margin: 0 4px; 
        display: inline-block; 
    }
    .swiper-pagination-bullet-active {
        background-color: #1F2732;
        opacity: 1; 
    }
}




.consultation {
    max-width: 1440px;
    max-height: 791px;
    margin: 140px auto;
}
.consultation_container {
    width: 100%;
    max-height: 510px;
    display: flex;
    justify-content: space-between;
}
.cc_left-block {
    max-width: 630px;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    .left-block_content {
        display: flex;
        flex-direction: column;
        max-width: 630px;
        max-height: 366px;
        margin-bottom: 40px;
        .left-block_header {
            margin-bottom: 11px;
            max-width: 577px;
            max-height: 176px;
            text-transform: capitalize;
        }
        .left-block_svg {
            margin-bottom: 43px;
        }
    }
    .left-block_button > button {
        color: $gray-color;
        background-color: $gold_color;
        padding: 24px 71px 25px;
        max-width: 257px;
        max-height: 85px;
    }
    .left-block_button > button:hover {
        transition: all 0.2s linear;
        outline: 5px solid $gold_color;
        outline-offset: 5px;
    }
}
.cc_right-block {
    max-width: 630px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $white-color;
    padding: 40px;
    .right-block_border {
        max-width: 550px;
        max-height: 410px;
        display: flex;
        flex-direction: column;
        border: 15px solid $light-gray;
        padding: 50px 69px 60px 40px;
        .right-block_header {
            max-width: 411px;
            max-height: 55px;
            font-family: $font-cormoran;
            font-size: 42px;
            line-height: 54.6px;
            color: $gray-color;
            margin-bottom: 12px;
        }
        .right-block_paragraph {
            max-width: 411px;
            max-height: 96px;
            font-family: $font-outfit;
            font-size: 20px;
            line-height: 32px;
            color: #909090;
            margin-bottom: 37px;
        }
        .right-block_phone {
            max-width: 440px;
            max-height: 70px;
            display: flex;
            .right-block_phone-svg {
                margin-right: 15px;
                background-color: $gold_color;
                position: relative;
                .right-block_phone-svg-link {
                    display: block;
                    width: 70px;
                    height: 70px;
                }
                a > svg {
                   margin: 22px 21px 21px 22px; 
                }
            }
            .right-block_phone-content {
                max-width: 204px;
                max-height: 63px;
                margin-top: 3.5px;
                margin-bottom: 3.5px;
                display: flex;
                flex-direction: column;
                font-family: $font-outfit;
                color: $gray-color;
                .phone-content_header {
                    font-size: 18px;
                    line-height: 21.6px;
                }
                .phone-content_number {
                    font-size: 30px;
                    line-height: 42px;
                }
                a:active,
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}




.appointment-form {
    max-width: 1440px;
    max-height: 945px;
    background-image: url(../images/Appointment_form/background_picture.png
    );
    background-size: cover;
    margin: auto;
    padding: 140px 40px;
}
.form_container {
    max-width: 1360px;
    max-height: 665px;
    display: flex;
    flex-direction: column;
    background-color: $gray-color;
    padding: 85px 100px 90px;
    .appointment_data {
        max-width: 1160px;
        max-height: 176px;
        font-family: $font-outfit;
        font-size: 25px;
        line-height: 21.6px;
        color: $white-color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    
}
.appointment_data-child {
    max-width: 556px;
    height: 88px;
    .appointment_data-child-input {
        margin-top: 10px;
        input {
            width: 85%;
            background: none;
            font-family: $font-outfit;
            font-size: 22px;
            line-height: 21px;
            color: $white-color;
            cursor: text;
            border-bottom: 1px solid #5d6674;
        }
        input:hover,
        input:focus {
            border-bottom: 1px solid $gold_color;
        }
    }
}
.appointment_data-child:nth-child(-n+2) {
    margin-right: 48px;
}
.appointment_data-name {
    display: flex;
    flex-direction: column;
}
.appointment_textarea {
    display: flex;
    flex-direction: column;
    .appointment_textarea-header {
        font-family: $font-outfit;
        font-size: 25px;
        line-height: 21.6px;
        color: $white-color;
        margin-bottom: 10px;
    }
    .appointment_textarea-message {
        textarea {
            width: 100%;
            height: auto;
            min-height: 108px;
            background: none;
            font-family: $font-outfit;
            font-size: 22px;
            line-height: 21px;
            color: $white-color;
            resize: none;
            border: 1px solid #5d6674; 
            border-radius: 5px;
            padding: 10px;
            transition: border-color 0.3s; 
        }
        textarea:hover,
        textarea:focus {
            border: 1px solid $gold_color;
            border-radius: 5px;
        }
    }
}
.appointment_data-child-input:hover ~ .appointment_rectangle {
    background-color: $gold_color; 
}
.appointment_button {
    margin: auto;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 49px;
    button {
        font-family: $font-outfit;
        font-size: 25px;
        font-weight:bold;
        line-height: 21.6px;
        color: #3B434E;
        background-color: $white-color;
        max-width: 305px;
        max-height: 85px;
        padding: 32px 30px 31px;
        
    }
    .appointment_btn:hover {
        background-color: $gold_color;
        transition: all 0.2s linear;
        outline: 5px solid $gold_color;
        outline-offset: 5px;
    }
}
.appointment_warning-message {
    font-family: $font-outfit;
    font-size: 22px;
    line-height: 21px;
    color: $white-color;
}
.appointment_data-child{
    .appointment_data-child-input {
        .input-error {
            border-bottom: 1px solid #cc3336;
            color: #cc3336;
        }
    }
}
.success-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #fff;
    padding: 20px;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.success-popup p {
    margin: 0;
    font-size: 16px;
    color: green;
}








.recent_blogs {
    margin-top: 130px;
    margin-bottom: 100px;
} 
.recent_blogs-head {
    margin: auto;
    max-width: 1400px;
    max-height: 834px;
    display: flex;
    flex-direction: column;
    color: $white-color;
    padding-bottom: 100px;
    border-bottom: 1px solid #4E555F;
}
.recent_blogs-header {
    margin: 10px 20px 70px;
    max-width: 1360px;
    max-height: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .recent_blogs-header-main {
        margin-top: 9px;
        margin-bottom: 11px;
    }
}
.recent_blog-head-content {
    max-height: 546px;
    display: flex;
    justify-content: space-between;
    .left_block {
        width: 655px;
        height: 546px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .right_block {
        max-width: 655px;
        height: 360px;
        margin-top: 92.5px;
        margin-bottom: 92.5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .right_block-top_info {
            display: flex;
            align-items: flex-start;
            height: 56px;
            width: 100%;
            color: $gold_color;
            font-family: $font-outfit;
            font-size: 20px;
            line-height: 32px;
            border-bottom: 1px solid #4E555F;
            .right_block_info-subject {
                margin-right: 20px;
            }
            .right_block_info-date {
                margin-left: 21px;
            }
        }
        .right_block-header {
            max-width: 513px;
            max-height: 117px;
        }
        .right_block-description {
            max-width: 646px;
            max-height: 64px;
        }
        .right_block-link {
            font-family: $font-outfit;
            font-size: 22px;
            line-height: 35.2px;
            color: $gold_color;
            text-decoration: underline;
        }
        a:active,
        a:hover {
            text-decoration: underline;
            color: $white-color;
        }
    }
}








.recent_cases {
    max-width: 1380px;
    max-height: 1644px;
    margin-top: 100px;
    margin-bottom: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .case {
       max-width: 440px;
       max-height: 722px; 
       display: flex;
       flex-direction: column;
       margin-bottom: 100px;
       .case_top-img {
        width: 440px;
        height: 367px;
        img {
            width: 100%;
            height: 100%;
        }
       }
       .case_body {
        width: 440px;
        height: 355px;
        margin-top: 24px;
        color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
            .case_body-info {
                width: 100%;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                font-family: $font-outfit;
                font-size: 21px;
                line-height: 33.6px;
                color: $gold_color;
                border-bottom: 1px solid #4E555F;
            }
        }
        .case_body-header {
            width: 397px;
            height: 78px;
        }
        .case_body-description {
            width: 100%;
            height: 96px;
        }
        .case_body-link {
            width: 109px;
            height: 29px;
            font-family: $font-outfit;
            font-size: 22px;
            line-height: 35.2px;
            color: $gold_color;
            text-decoration: underline;
        }
        a:active,
        a:hover {
            text-decoration: underline;
            color: $white-color;
        }
    }
}







.bottom_image {
    width: 100%;
    overflow: hidden; 
    img {
        width: 100%;
        height: auto; 
        display: block;
    }
}






.footer {
    margin: auto;
}
.footer_container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 130px;
    padding-bottom: 70px;
}
.footer_container-header {
    display: flex;
    max-width: 1360px;
    margin-bottom: 95px;
}
.footer_container-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
    border-top: 1px solid #3B434E;
    border-bottom: 1px solid #3B434E;
}
.footer_container-copyright-left {
    display: flex;
    max-width: 800px;
    max-height: 43px;
    .copyright_information,
    .copyright_desigren_info,
    .copyright_developer_info {
        margin-right: 10px;
        a {
            font-size: 22px;
            line-height: 35px;
            color: $gold_color;
            margin-left: 5px;
        }
        a:hover,
        a:active {
            text-decoration: underline;
        }
    }
}
.footer_container-copyright-right {
    display: flex;
    max-width: 245px;
    max-height: 40px;
    .social_buttons-header {
        font-family: $font-outfit;
        font-size: 20px;
        line-height: 32px;
        color: $gold_color;
    }
    .social_buttons {
        max-width: 174px;
        max-height: 35px;
        padding: 5px 10px 5px 20px;
    }
    .social_buttons>a:not(:last-child) {
       margin-right: 15px;
    }
}  
.footer_container-nav {
    max-width: 1360px;
    max-height: 371px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
}
.footer-nav-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 369px;
    .footer-nav-item-header {
        margin-bottom: 30px;
        border-top: 1px solid #3B434E;
        border-bottom: 1px solid #3B434E;
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .footer-nav-body {
        display: flex;
        flex-direction: column;
        max-height: 260px;
        .footer-nav-body_item {
            
            a:hover,
            a:active {
                color: $white-color;
                text-decoration: underline;
            }
        }
        .footer-nav-body_item:not(:last-child) {
            margin-bottom: 20px;
        }
        .footer-nav-body_item:last-child {
            margin-bottom: 10px;
        }
    }
}

.footer-nav-item:first-child {
    .footer-nav-body {
        flex-wrap: wrap;
        .indented {
            margin-left: 80px;
        }
    }
}
.footer-nav-item:last-child {
    .footer-nav-body {
        padding-right: 20px;
        flex-direction: column-reverse;
        .footer-nav-body_item {
            .footer-nav-body_item-address {
                margin-top: 80px;
                max-height: 96px;
            }
            .footer-nav-body_item-tel {
                margin-bottom: 20px;
            }
        }
    }
}

